@mixin wbtn {
    color: black;
    padding: .8em 4em;
    margin-top: 4em;
    border-radius: .5em;
    border: none;
    font-size: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin generalbtn {
    color: $white;
    padding: 1.2em 4em;
    margin-top: 1em;
    border-radius: .5em;
    border: none;
    font-size: 1em;
    background-image: linear-gradient(to right, $gradientEndColor, $gradientStartColor);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin card {
    color: $black;
    width: 25%;
    border: none;
    text-align: left;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    line-height: 1.7;
}

@mixin headers {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em 13em;
    line-height: 1.7;
    text-align: center;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin grid($grid, $auto: null, $gab: null, ) {
    display: $grid;
    grid-template-columns: $auto;
    grid-column-gap: $gab;
}