// colors definitaions
$gradientStartColor: #7747FB;
$gradientEndColor: #B92DFF;
$white: #fff;
$black:#000;
$breakpoint-phone:600px;
$breakpoint-tablet:768px;
$breakpoint-lab:992px;
// font family
$robotoFont: 'Roboto',
sans-serif;
$openSansFont: 'Open Sans',
sans-serif;
$h2fontsize:3em;
$pfontsize:1em;
// images paths
$homebanner: '../img/banner/home-banner.jpg';
$navicon: '../img/favicon.png';
$navimg: '../img/banner/right-mobile.png';